@media only screen and (min-width: 638px) {
  .slide-container {
    margin-top: 18rem;
  }
}

@media only screen and (min-width: 800px) {
  .logo img {
    padding-left: 100px;
  }
  .active {
    background: #d98236;
    color: white;
    padding: 5px;
  }

  li a:hover {
    background: #d98236;
    color: white;
    padding: 5px;
  }

  nav {
    display: flex;
    position: static;
    justify-content: center;
  }
  nav li {
    display: inline-block;
    position: relative;
  }

  li a {
    color: #3c463e;
    background: white;
    margin: 5px 10px;
  }

  header label {
    display: none;
  }
  .search-point {
    left: 2rem;
    position: relative;
  }
  .fa-search {
    top: 38px;
    z-index: 100;
  }
  #search {
    height: 35px;
    position: relative;
    top: 26px;
  }
  .welcome-page01 {
    margin-top: 76px;
  }

  .footer--wrapper1 {
    display: block;
  }
  .footer--wrapper2 {
    margin-left: 20%;
  }
  .sosial-icons {
    display: flex;
    justify-content: start;
  }

  .footer-under-text {
    text-align: left;
  }

  .name {
    display: inline-block;
  }
  #fname,
#lname {
  width: 275px;
}

#email,
#subject,
textarea {
  width: 563px;
}

}

@media only screen and (min-width: 1000px) {
}
